body {
    background-color: plum;
    margin: 30px;;
}
h1 {
    display: flex;
    justify-content: center;
}
form {
    display: flex;
    justify-content: center;
    margin:auto;
    padding: 10px;
    box-sizing: border-box;
}
table {
    flex-direction: row;
    margin:auto;
}
.hidden {
    display: none;
}
td.completed {
    text-decoration: line-through;
}
