<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE-edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">  
    <title>Sample Layout</title>
    <link rel="stylesheet" href="layout.css">
</head>

<body>
    <aside>
        <header>
            <img id="logo" src="img/logo.jpg" alt="logo" />
            <div>
                <div style="font-size: 1.3rem;">HandsUp</div>
                <div style="font-size: 0.7rem;">handmade</div>
            </div>
        </header>
        <nav>
            <div class="button">
                <img src="img/hamb.png" />
                <span>Measurments</span>
            </div>
            <div class="button active">
                <img src="img/hamb.png" />
                <span>Measurments</span>
            </div>
            <div class="button">
                <img src="img/hamb.png" />
                <span>Measurments</span>
            </div>
            <div class="button">
                <img src="img/hamb.png" />
                <span>Measurements</span>
            </div>
        </nav>
    </aside>
    <main>
        <header>
            <div id="pageTitle">Titlu aici adaugat</div>
            <div class="button">
                <img src="img/hamb.png" />
            </div>
            <div class="button">
                <img src="img/hamb.png" />
            </div>
            <div class="button">
                <img src="img/hamb.png" />
            </div>
            <div class="button">
                <img src="img/hamb.png" />
            </div>
        </header>
        <div id="pages">
            <div class="page active">
                <div style="display: flex; width: 100%; padding: 30px; box-sizing: border-box;">
                    <div class="button">
                        <img src="img/hamb.png" />
                        <span>Measurments</span>
                    </div>
                    <div class="button">
                        <img src="img/hamb.png" />
                        <span>Measurments</span>
                    </div>
                    <div class="button">
                        <img src="img/hamb.png" />
                        <span>Measurments</span>
                    </div>
                    <div style="flex:1"></div>
                    <label>
                        <span>Show archive</span>
                        <input type="checkbox" />
                    </label>
                </div>
                <table border="2" style="border-collapse: collapse">
                    <thead>
                        <tr>
                            <th><input type="checkbox" /></th>
                            <th><img src="img/logo3.jpg" alt="img"></th>
                            <th>Name</th>
                            <th>Device</th>
                            <th>Serial number</th>
                            <th>Version</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td><input type="checkbox" /></td>
                            <td><img src="img/logo3.JPG "></td>
                            <td>noeboeb</td>
                            <td>noreno</td>
                            <td>elknfewon<td> 
                        <td>iheiei</td>
                            <td>nronforn</td>
                        </tr>
                        <tr>
                            <td><input type="checkbox" /></td>
                            <td><img src="img/logo3.JPG "></td>
                            <td>jwebfbew</td>
                            <td>ebjeb</td>
                            <td>fweif</td>
                            <td>boebdo</td>
                        </tr>
                    </tbody>
                    <tfoot>
                        <tr>
                            <td colspan="6" style="text-align: center">
                                <button>&lt;&lt;</button>
                                <button>&lt;</button>

                                <button>1</button>
                                <button>2</button>

                                <button>&gt;</button>
                                <button>&gt;&gt;</button>
                            </td>
                            <td>Show</td>
                        </tr>
                    </tfoot>
                </table>
            </div>
            <div class="page">Pagina 2</div>
            <div class="page">Pagina 3</div>
            <div class="page">Pagina 4</div>
            <div class="page">Pagina 5</div>
        </div>
    </main>

</body>

</html>