body {
    font-family: 'Proximanova opt',sans-serif;
    color: #4c525a;
    font-size: 14px;
    line-height: 20px;
    font-weight: 400;
    box-sizing: border-box;
    margin: 0 auto;
    max-width: 1366px;
    padding: 0 24px;
}

#main-navigation {
    padding: 12px;
    align-items: center;
}

.box {
    min-height: 300px;
    padding: 10px;
    }

.search-bar {
    border: 2px solid #00b289;
    align-items: center; 
    margin: auto; 
    display: flex;
    border-radius: 50px;
    width: 100%;
    padding: 3px;
}

.inp-design {
    flex-grow: 1;
    font-size: 1rem;
    width: 500px;
    border-radius: 50px;
    border: 0;
    height: 30px;
    text-align: center;
    margin: auto;
    padding: 0 0.5em;
    flex:1;
}

.search-button {
    cursor: pointer;
    border: 0;
    background: transparent;
    border-radius: 100vh;
    background: #00b289;
    width: calc(var(--size) - 10px);
    height: calc(var(--size) - 10 px);
    margin-left: auto;
    float: right;
}
  
.items {
    display: flex;
    align-items: center;
    flex-direction: column;
    margin: 3px 3px 10px 3px;
    border-radius: 10px;
    background: #fff;
    padding: 10px;
}

.item-img {
    max-width: 100%;
    display: flex;
    flex-direction: row;
    margin-right: 10px;
}

img {
    max-width: inherit;
    max-height:300px;
}

body a {
  text-decoration: none;
  color: black;
}

.hidden {
  display: none !important;
}

#no_items {
    color: #00b289;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    height: 390px;
    font-size: 1rem;
}

.footer {
  position: fixed;
  bottom: 0;
}

.content-box {
    width: 400px;
}
.container{
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  padding-bottom: 50px;
}
.product {
  border: 2px solid black;
}
.product img {
  height: 100px;
  
}
.hidden {
  display: none !important;
}
.details-content{
  display: flex;
}
button:not(.search-button):not(.carousel-control-next):not(.carousel-control-prev):not(.grid-item4 > button) {
    padding: 6px 15px;
    border-radius: 4px;
    background-color: #00b289;
    font-weight: 700;
    text-align: center;
    letter-spacing: .7px;
    text-decoration: none;
    text-transform: uppercase;
    height: auto;
    cursor: pointer;
    color: #fff;
    border: none;
}
.itemName {
  font-size: medium;
  padding: inherit;
}
.grid-container {
    display: flex;
    margin: 5px;
    border: none;
}
.grid-item{
    display: flex;
    margin: 5px;
}
.grid-item1,
.grid-item2, 
.grid-item3, 
.grid-item4, 
.grid-item5, 
.grid-item6
{
    margin: 5px;
}
.grid-item1{
    max-width: 40px;
    max-height: 40px;
    cursor: pointer;
}
.grid-item2{
    max-width: 170px;
}
.grid-item3{
    flex: 1;
}
.grid-item4, 
.grid-item5, 
.grid-item6{
    width: 80px;
}