main {
    padding: 24px;
  }
  img {
    max-width: inherit;
    max-height: 500px;
    display: flex;
    flex-direction: row;
  }
.details-content{
    display: flex;
    
}
.box{
    max-width: 400px;
    flex-grow: 1;
}