body {
    background-color: ivory;
    margin: 0;
}
#header {
    display: flex;
    justify-content: center;
    
}
form {
    width: 70%;
    display: flex;
    border-radius: 5px;
    flex-direction: row;
    justify-content: center;
    background-color: #ffdb58;
    padding: 10px;
    box-sizing: border-box;
    margin:auto;
}
table {
    width: 70%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    background-color: #ffdb58;
    padding: 10px;
    box-sizing: border-box;
    border-radius: 5px;
    margin:auto;
}
input.error {
    border: 2px solid red;
    background-color: rgb(253, 183, 183);
    color: black;
  }
.errorMessage {
    color: red;
  }
.hidden {
    display: none;
  }